################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/srv/CosmosDB.API/bin
/srv/CosmosDB.API/obj
/srv/CosmosDb.Model/bin
/srv/CosmosDb.Model/obj
/srv/CosmosDB.Utils/bin
/srv/CosmosDB.Utils/obj
/srv/CosmosDB.Repositorio/bin
/srv/CosmosDB.Repositorio/obj
/srv/CosmosDB.Negocio/bin
/srv/CosmosDB.Negocio/obj
/srv/.vs


